/*
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome.scss";
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

$purpleHathor: #8c46ff;
$purpleHathorButton: #8c46ff;
$purpleHathorButtonHover: #a46cff;
$purpleHathorHover: #5f2eaf;
$warning: #ce9c06;

$background-light: #ffffff;
$normal-text-light-color: #57606a;
$text-light-bold: #0d1117;
$secondary-color-light: #b7bfc7;

$background-dark: #0d1117;
$normal-text-dark-color: #b7bfc7;
$text-dark-bold: #ffffff;
$input-background-dark: #010409;
$secondary-color-dark: #191c21;

:root[data-theme='theme-light'] {
  --background-color: #ffffff;
  --alter-background-color: #f2f6fa;
  --normal-text-color: #57606a;
  --bold-text-color: #0d1117;
  --bg-color: #fafafa;
  --secondary-color: #f2f6fa;
  --input-background: #f2f6fa;
  --search-icon: url('./assets/images/search-icon-dark.svg');
  --purple-text: #8c46ff;
  --purple-toast: #e8daff;
  --purple-toast-border: #ba90ff;
  --background-focus: #f2f6fa;
  --text-focus: #0d1117;
  --border-color: #b7bfc7;
  --alter-border-color: #b7bfc7;
  --span-red-background: #fbebe9;
  --span-green-background: #def7d8;
  --span-purple-background: rgba(232, 218, 255, 1);
  --span-green-border: #44a32e;
  --span-red-border: #ff7966;
  --span-purple-border: rgba(186, 144, 255, 1);
  --timestamp-text: rgba(87, 96, 106);
  --created-at-text: #57606a;
  --dropdown-b: #b7bfc7;
  --border-disable-button: transparent;
  --copy-to-clipboard-alert-success: #44a32e;
  --copy-to-clipboard-alert-success-icon: #9be78a;
  --nav-dropdown: #ffffff;
  --network-data-top-text: #8c46ff;
  --network-data-connected: #9be78a;
  --network-data-connected-border: #44a32e;
  --tools-input-background: #f2f6fa;
}

:root[data-theme='theme-dark'] {
  --background-color: #0d1117;
  --alter-background-color: #24292f;
  --normal-text-color: #b7bfc7;
  --bold-text-color: #ffffff;
  --secondary-color: #191c21;
  --input-background: #010409;
  --search-icon: url('./assets/images/search-icon-light.svg');
  --text-focus: #ffffff;
  --purple-text: #ba90ff;
  --purple-toast: #2a154d;
  --purple-toast-border: #542a99;
  --background-focus: #191c21;
  --border-color: #21262d;
  --alter-border-color: #484f58;
  --span-red-background: #590b00;
  --span-purple-background: rgba(42, 21, 77, 1);
  --span-purple-border: rgba(84, 42, 153, 1);
  --span-red-border: #991300;
  --span-green-background: #193d11;
  --span-green-border: #2e701f;
  --timestamp-text: rgba(87, 96, 106, 0.5);
  --created-at-text: rgb(183, 191, 199, 0.5);
  --dropdown-b: #23272f;
  --border-disable-button: #21262d;
  --copy-to-clipboard-alert-success: #193d11;
  --copy-to-clipboard-alert-success-icon: #59d73c;
  --nav-dropdown: #010409;
  --network-data-top-text: #ffffff;
  --network-data-connected: #def7d8;
  --network-data-connected-border: #44a32e;
  --tools-input-background: #0d1117;
}

@font-face {
  font-family: 'San Francisco Pro';
  src: url('./assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans';
  src: url('./assets/fonts/Mona-Sans.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mona Sans Bold';
  src: url('./assets/fonts/MonaSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: var(--background-color) !important;
}

:export {
  purpleHathor: $purpleHathor;
}

.nav-title {
  color: var(--bold-text-color);
  white-space: nowrap;
  font-family: 'San Francisco Pro', sans-serif;
  text-transform: capitalize;
}

.footer-title {
  color: var(--bold-text-color);
}

.footer-container {
  width: 1, 440px;
  height: 220px;
  border-top: 1px solid var(--border-color);
  display: flex;
  justify-content: space-between;
  padding: 60px;
  background-color: var(--background-color);

  .dark-theme-logo {
    fill: white;
  }

  .light-theme-logo {
    fill: black;
  }

  .newLogo {
    width: 127.45px;
    height: 28px;
  }

  .info-container {
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 10px;
  }

  .logo-version-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 16px;
    color: var(--bold-text-color);

    .version-wrapper span {
      color: var(--bold-text-color);
      font-size: 11px;
      margin-left: -15px;
      font-family: 'Roboto Mono', sans-serif;
    }
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .terms-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
  }

  .footer-button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 24px;
    width: fit-content;
    font-size: 10px;
    color: $text-dark-bold;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
    font-family: 'San Francisco Pro', sans-serif;
    letter-spacing: 1px;
  }

  .rights-reserved {
    color: #57606a;
    font-size: 12px;
    font-weight: 500;
    white-space: nowrap;
  }
}

.red {
  background-color: red;
}
nav {
  .nav-tabs-container ul {
    color: var(--bold-text-color);
  }

  .navbar-toggler {
    color: var(--bold-text-color);
    border: 1px solid var(--border-color);
  }
}

.tools-input {
  padding: 8px 12px 8px 12px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: var(--tools-input-background);
  color: var(--normal-text-color);
}

.tools-button {
  margin: 0 auto;
  width: fit-content !important;
  white-space: nowrap;
  padding: 12px 20px;
  gap: 8px;
  border-radius: 4px;
  font-family: 'Mona Sans', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.tools-button-container {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 16px;

  span {
    text-transform: uppercase;
    font-family: 'Mona Sans Bold', sans-serif;
    color: var(--bold-text-color);
  }
}

.tools-gap {
  gap: 16px;
}

.underline-link {
  text-decoration: underline;
}

.link-uppercase {
  text-decoration: underline;
  font-family: 'Mona Sans Bold', sans-serif;
  text-transform: uppercase;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 0px 64px;

  //nav-theme-btn
  .theme-color-btn {
    cursor: pointer;
    height: auto;
  }

  .network-container {
    display: flex;
    gap: 32px;
    margin-left: 32px;
    flex-wrap: nowrap;
  }

  .mobile-tabs {
    display: none;
  }

  .theme-network-logo {
    height: auto;
  }

  .dark-theme-logo {
    color: white;
  }

  .light-theme-logo {
    color: black;
  }

  .main-nav {
    background-color: #0d1117;
  }

  .navbar-brand {
    margin: 5px;
  }

  .newLogo {
    height: 28px;
  }

  .newLogo-explorer-container {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }

  .hide-network-mobile {
    display: none;
  }

  .navbar-toggler {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 24px;
    font-size: 10px;
    font-weight: 500;
    white-space: nowrap;
  }

  .nav-tabs-container {
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      font-weight: bold;

      li {
        padding: 0rem 1rem;
      }
    }
  }

  .navigation-search-input {
    background-image: var(--search-icon);
    background-repeat: no-repeat;
    background-position: 10px center;
    color: var(--secondary-color);
    background-color: var(--input-background) !important;
    padding-left: 35px;
    background-size: 16px;
    border: 1px solid var(--border-color) !important;
  }

  .navigation-search-input::placeholder {
    color: var(--normal-text-color);
    opacity: 1;
  }
}

.search-bar-container {
  position: relative;
  width: 100%;
}

.token-list-search-input {
  width: 100%;
  padding-left: 40px;
  color: var(--normal-text-color) !important;
  background-color: var(--input-background) !important;
  border: 1px solid var(--border-color);
}

.token-text-area {
  resize: none;
  height: 1.5em;
}

.input-padding {
  padding: 6px 6px 6px 40px;
  border-radius: 8px;
}

.token-list-search-input::placeholder {
  color: var(--normal-text-color);
  opacity: 1;
}

.tokens-search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: var(--normal-text-color);
  cursor: pointer;
}

.token-details-container {
  background-color: var(--background-color);
  min-width: 100%;
  padding: 64px;

  .new-alert-warning {
    gap: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 1px solid var(--purple-toast-border);
    width: fit-content;
    padding: 8px;
    font-size: 14px;
    background-color: var(--purple-toast);
    color: var(--bold-text-color);
    text-align: center;
  }

  .new-alert-warning p {
    margin: 0;
    padding: 0;
  }

  .new-alert-warning div {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .alert-icon {
    width: 14px;
    height: 14px;
  }

  .token-name {
    font-size: 1.5rem;
    color: var(--bold-text-color);
  }

  .token-medium-containers {
    margin-top: 16px;
    justify-content: center;
    gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .token-new-general-info {
    border: 1px solid var(--border-color);
    padding: 24px;
    background-color: var(--secondary-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    min-width: 100%;
    height: 100%;

    .subtitle {
      opacity: 0.7;
      font-size: 0.85rem;
      min-width: 550px;
      background-color: var(--background-color);
      color: var(--bold-text-color);
    }

    h2 {
      color: var(--bold-text-color);
    }

    div {
      display: flex;
      justify-content: space-between;
      justify-content: center;
      align-items: center;
      max-width: 100%;

      span {
        word-break: break-all;
        width: 100%;
        min-width: 0;
      }

      span:nth-of-type(1) {
        word-break: break-word;
        font-weight: 600;
        font-family: 'Mona Sans';
        size: 14px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: var(--bold-text-color);
      }

      span:nth-of-type(2) {
        font-family: 'San Francisco Pro';
        font-weight: 400;
        size: 14px;
        line-height: 20px;
        letter-spacing: 0.03em;
        color: var(--normal-text-color);
      }
    }
  }

  .token-new-config {
    padding: 32px;
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    min-width: 100%;

    strong {
      color: $purpleHathorButton;
      font-size: 16px;
    }

    .qr-code {
      padding: 10px;
      background-color: white;
      border-radius: 15px;
    }

    .token-code {
      text-align: center;
      color: var(--bold-text-color);
      margin-bottom: -20px;
      width: 100%;
    }

    .actions-token-code {
      display: flex;
      gap: 8px;
    }

    .actions-token-code-btn {
      border: none;
      background-color: $purpleHathorButton;
      border-radius: 5px;
      padding: 0px 9px 9px 9px;
      width: 36px;
      height: 28px;
    }
  }
}

.container-title-page {
  display: flex;
  flex-flow: column;
}

.pushtx-note {
  width: fit-content;
  padding: 4px 12px;
  gap: 4px;
  border-radius: 100px;
  border: 1px solid var(--span-purple-border);
  opacity: 0px;
  background-color: var(--span-purple-background);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-size: 12px;
}

.pushtx-helptext {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.sidebar-background-container {
  position: fixed;
  min-width: 100vh;
  min-height: 100vh;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
}

.network-icon-container {
  display: flex;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  border: none;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  position: fixed;
  top: 0;
  right: 0px;
  width: 0;
  z-index: 1000;
  background-color: var(--secondary-color);
  transform: translateX(100%);
  transition: transform 0.2s ease-in-out;

  overflow: hidden;

  &.active {
    transform: translateX(0);
    width: 246px;
    padding: 41px 27px;
    overflow: hidden;
  }

  &.inactive {
    transform: translateX(100%);
    width: 0;
    overflow: hidden;
  }

  .aside-tabs-container {
    width: 100%;
    color: var(--bold-text-color);

    ul {
      width: 100% !important;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      font-weight: bold;
      margin-left: 20px;

      li {
        width: 100%;
        padding: 0rem 1rem;
      }
    }
  }

  .aside-network .nav-title {
    font-size: 10px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  .aside-explore-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 7px;
    gap: 32px;
    width: 100%;
  }

  .aside-bottom-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  .aside-theme-color-switch {
    padding-bottom: 30px;
    display: flex;
    gap: 32px;
    align-items: center;
  }

  .aside-network {
    display: flex;
    gap: 8.5px;
  }

  .aside-version {
    font-family: 'Roboto Mono';
  }
}

.spinner {
  margin: 0 auto;
  height: 100%;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #4a3c8c 94%, #0000) top/9px 9px no-repeat,
    conic-gradient(#0000 30%, #4a3c8c);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-c7wet2 1s infinite linear;
  position: relative;
  z-index: 2;

  &::before {
    content: '';
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #6a46d86d;
    z-index: 1;
  }

  @keyframes spinner-c7wet2 {
    100% {
      transform: rotate(1turn);
    }
  }
}

.dropdown-toggle::after {
  display: none;
}

.custom-dropdown-toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--bold-text-color);
}

.dropdown-icon {
  width: 16px;
  height: 16px;
  margin-left: 2px;
  stroke: var(--bold-text-color);
}

.error-message-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--text-focus);

  .error-massage-button {
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    height: 24px;
    width: fit-content;
    font-size: 10px;
    color: $text-dark-bold;
    font-weight: 500;
    white-space: nowrap;
    background-color: transparent;
  }
}

.tx-container {
  margin: 60px 0;
  color: var(--normal-text-color);
  font-family: 'Mona Sans ', sans-serif;
  padding: 0px 64px;
  background-color: var(--background-color);
}

.tx-container .title-tx-page {
  color: var(--bold-text-color);
  font-family: 'Mona Sans Bold', sans-serif;
  font-size: 25px;
}

.new-table {
  background-color: var(--background-color);
  width: 100%;
  font-family: 'San Francisco Pro';
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;

  & th {
    padding: 0px 0px 1rem 15px;
    color: var(--purple-text);
  }

  & td {
    padding: 25px 0px 25px 15px;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    cursor: pointer;
  }

  & tbody tr td:nth-of-type(2) {
    color: var(--timestamp-text);
  }

  & tbody tr:hover {
    background-color: var(--background-focus);
  }
}

.tx-pagination-btn {
  padding: 16px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.no-padding {
  padding: 0;
}

.pagination {
  display: flex;
  align-items: center;
  gap: 16px;
}

.tx-previous-btn,
.tx-next-btn {
  padding: 14px;
  border-radius: 4px;
  width: 105px;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  border: 1px solid var(--border-color);
  transition: background-color 0.3s ease;
  background-color: $purpleHathorButton;
  color: #ffffff;
  white-space: nowrap;
}

.page-link-btn-enable {
  color: #ffffff;
}

.tx-disabled {
  background-color: transparent;
  color: var(--bold-text-color);
  cursor: not-allowed;
}

.info-tooltip-container {
  display: flex;
  gap: 16px;
  align-items: center;

  .info-tooltip {
    position: absolute;
    left: 20px;
    display: none;
    border-radius: 100px;
    padding: 6px;
    border: 1px solid var(--border-color);
    text-align: center;
    white-space: nowrap;
    width: fit-content !important;
    background-color: var(--secondary-color);
    z-index: 1000;
  }

  svg {
    color: var(--bold-text-color);
  }

  .tooltip-info-icon {
    position: relative;
  }

  .tooltip-info-icon:hover .info-tooltip {
    cursor: pointer;
    display: block;
  }
}

.new-hathor-alert {
  display: flex;
  flex-direction: row;
  padding: 4px 8px 4px 8px;
  gap: 4px;
  border-radius: 4px;
  border: none;
  width: 70%;
  color: white;
  justify-content: space-between;
  z-index: 9999;
  margin: 0;
}

.alert-success-container {
  background-color: var(--span-green-background);
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bold-text-color);
  padding: 4px 12px;
  gap: 4px;
  border-radius: 100px;
  border: 1px solid var(--span-green-border);
  margin: 16px 0;
}

.alert-success {
  background-color: var(--span-green-background);
}

.alert-error {
  background-color: var(--span-red-background);
  border: 1px solid var(--span-red-border);
  color: var(--bold-text-color);
}

.link-first-block {
  color: var(--normal-text-color);
}

.link-first-block:hover {
  color: var(--bold-text-color);
}

.alert-success-text {
  font-family: 'San Francisco Pro' Text;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
}

.new-hathor-alert {
  display: none;
}

.arrow-graph {
  color: var(--bold-text-color);
  text-decoration: none;
}

.arrow-graph:hover {
  color: var(--bold-text-color);
}

.table-details {
  width: 100%;
}

.table-details td {
  color: var(--purple-text);
  padding: 20px 10px;
  border-bottom: 1px solid var(--border-color);
  font-family: 'San Francisco Pro', sans-serif;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  white-space: wrap;
  word-break: break-word;
}

.details-title {
  font-family: 'Mona Sans', sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
  color: var(--bold-text-color);
}

.success-icon {
  color: var(--copy-to-clipboard-alert-success-icon);
  display: flex;
  justify-content: center;
  align-items: center;
}

.success-txt {
  width: 100%;
  text-align: center;
  margin: 0;
}

.container-drop-div {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  padding: 24px;
  border-radius: 8px;
  width: 100%;
  height: fit-content;
}

.container-drop-div-open {
  height: auto;
}

.tx-drop-container-div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.details-container-gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.container-drop-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.container-drop-header-title {
  font-size: 20px;
  font-family: 'Mona Sans bold', sans-serif;
  color: var(--bold-text-color);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.cookie-container {
  position: 'fixed';
  left: '50%';
  bottom: 80px;
}

.cookie-info-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.cookie-text {
  margin: 0;
  color: var(--bold-text-color);
}

.network-wrapper {
  margin: 60px 64px 60px 64px;
}

.network-title {
  color: var(--bold-text-color);
  margin: 48px 0px 16px 0px;
  letter-spacing: 0.03em;
  line-height: 24px;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Mona Sans';
}

.network-top {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.peer-info {
  color: var(--bold-text-color);
  display: flex;
  letter-spacing: 0.03em;
  line-height: 16px;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Mona Sans';
  gap: 8px;
}

.peer-info-icon {
  cursor: pointer;
  padding: 0;

  & svg {
    margin: 0px 8px 0px 0px;
  }
}

.copy-icon-div {
  cursor: pointer;
}

.new-snack-bar {
  display: flex;
  max-width: 750px;
  width: 100%;
  border-radius: 5px;
  background-color: #4e6674;
  font-family: 'Mona Sans', sans-serif;
  color: white;
  font-size: 14px;
  text-align: left;
  position: fixed;
  padding: 10px 0;
  align-items: center;
  bottom: 10px;
  left: 50%;
  gap: 10px;
  transform: translate(-50%, -50%);
}

.new-info-hover-popover {
  visibility: hidden;
  width: fit-content;
  border-radius: 100px;
  padding: 6px;
  border: 1px solid var(--border-color);
  background-color: var(--background-focus);
}

.peer-info-icon:hover .new-info-hover-popover {
  visibility: visible;
}

.network-select-reload {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;

  .custom-select-container {
    .custom-select {
      width: 300px;
      padding: 12px;
      background-color: var(--background-focus);
    }

    .custom-select-options {
      background-color: var(--background-color);
    }

    .custom-select-options ul li:hover {
      background-color: var(--background-focus);
    }

    .custom-select-options {
      background-color: var(--background-color);
    }

    .custom-select-options ul li:hover {
      background-color: var(--background-focus);
    }
  }
}

.network-new-select {
  display: flex;
  gap: 8px;
  border: 1px solid var(--border-color);
  width: 300px;
  border-radius: 4px;
  padding: 12px;
  background-color: transparent;
  color: var(--bold-text-color);
}

.network-reload-btn {
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  padding: 12px 20px 12px 20px;
  color: var(--bold-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.network-data-top {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 28px 24px 28px 24px;
  background-color: var(--background-focus);
  border: 1px solid var(--border-color);
  border-radius: 5px;
  gap: 24px;

  & div {
    display: flex;

    & span {
      display: flex;
    }

    & span:nth-child(1) {
      letter-spacing: 0.03em;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      font-family: 'Mona Sans';
      width: 200px;
      color: var(--network-data-top-text);
    }

    & span:nth-child(2) {
      word-break: break-all;
      font-family: 'San Francisco Pro';
      font-weight: 400;
      size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      width: 100%;
      color: var(--normal-text-color);
    }
  }
}

.network-card {
  width: 100%;
  padding: 24px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  background-color: var(--background-focus);

  & hr {
    border: 1px solid var(--network-data-connected);
  }
}

.network-card-header {
  display: flex;
  justify-content: space-between;
  color: var(--bold-text-color);
  gap: 24px;

  .badge-success {
    border: 1px solid var(--network-data-connected-border);
    background-color: var(--network-data-connected);
    border-radius: 100px;
    padding: 6px;
    color: black;
  }

  .badge-success {
    padding: 4px 14px 4px 14px;
    font-family: 'San Francisco Pro';
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.03em;
  }

  .token-peer {
    word-break: break-all;
    font-family: 'San Francisco Pro';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
}

.network-card-body {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & div {
    display: flex;

    & span {
      display: flex;
    }

    & span:nth-child(1) {
      letter-spacing: 0.03em;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      font-family: 'Mona Sans';
      width: 200px;
      color: var(--bold-text-color);
    }

    & span:nth-child(2) {
      word-break: break-all;
      font-family: 'San Francisco Pro';
      font-weight: 400;
      size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      width: 100%;
      color: var(--normal-text-color);
    }
  }
}

.network-card-body-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;

  & div {
    display: flex;

    & span {
      display: flex;
    }

    & span:nth-child(1) {
      letter-spacing: 0.03em;
      line-height: 16px;
      font-size: 14px;
      font-weight: 700;
      font-family: 'Mona Sans';
      width: 200px;
      color: var(--bold-text-color);
    }

    & span:nth-child(2) {
      word-break: break-all;
      font-family: 'San Francisco Pro';
      font-weight: 400;
      size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      width: 100%;
      color: var(--normal-text-color);
    }
  }

  .progress .bg-success {
    background-color: var(--network-data-connected) !important;
    border: 1px solid var(--network-data-connected-border);
  }
}

@media ((max-width: 650px)) {
  .cookie-info-container {
    flex-direction: column;
  }
}

.statistics-content-wrapper {
  margin: 64px;
}

.statistics-title-container {
  display: flex;
  gap: 16px;
  align-items: baseline;
  color: var(--bold-text-color);
  margin-bottom: 16px;

  .statistics-title {
    font-family: 'Mona Sans';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    padding: 0;
  }

  span {
    background-color: var(--background-focus);
    padding: 4px 12px 4px 12px;
    border-radius: 4px;
  }
}

.real-time-info-container {
  display: flex;
  gap: 16px;
}

.real-time-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 16px;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  background-color: var(--background-focus);

  strong {
    font-family: 'Mona Sans';
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
    color: var(--purple-text);
  }

  span {
    font-family: 'Mona Sans';
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    text-align: left;
    color: var(--bold-text-color);
  }

  p {
    margin: 0;
    font-family: 'San Francisco Pro';
    font-size: 10px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0.03em;
    text-align: left;
    color: #57606a;
  }
}

.statistics-data-title {
  font-family: 'Mona Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--bold-text-color);
  margin: 32px 0px 16px 0px;
}

.screen-status-text-info {
  font-family: 'San Francisco Pro';
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bold-text-color);

  strong {
    span {
      color: var(--bold-text-color);
      font-weight: 900;
    }
  }
}

.new-timeseries-iframe {
  display: flex;
  height: 2300px;
  width: 100%;
  border: none;
}

.dag-content-wrapper {
  margin: 64px;
}

.dag-content {
  display: flex;
  gap: 16px;

  .dagWrapper {
    width: 100%;
    min-height: 100%;
    width: 100%;
    margin: 0;

    #graph {
      height: 100%;
      width: 100%;
      margin: 0;
    }
  }
}

.content-title {
  color: var(--bold-text-color);
  font-family: 'Mona Sans';
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin: 0;
}

.timeframe-label {
  font-family: 'San Francisco Pro';
  font-size: 18px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--bold-text-color);
  margin: 16px 0px 16px 0px;
}

.timeframe-input {
  border-radius: 4px;
  width: 200px;
  border: 1px solid var(--border-color);
  background-color: transparent;
  padding: 8px 12px 8px 12px;
  color: var(--bold-text-color);
}

.dag-container-btn {
  display: flex;
  gap: 16px;
  width: 200px;
  padding: 16px 0px 16px 0px;

  button {
    flex: 1;
    padding: 14px;
    border-radius: 4px;
    font-family: 'Mona Sans';
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    border: 1px solid var(--border-color);
    color: #ffffff;
    white-space: nowrap;
  }

  button:nth-child(1) {
    background-color: transparent;
    color: var(--bold-text-color);
  }

  button:nth-child(2) {
    background-color: $purpleHathorButton;
  }
}

@media ((max-width: 1200px)) {
}

@media ((max-width: 1100px)) {
  .token-details-container {
    .new-alert-warning {
      width: 100%;

      .new-alert-warning svg {
        width: 16px;
        height: 16px;
        flex-shrink: 0;
      }
    }

    .token-medium-containers {
      display: flex;
      flex-direction: column;
    }

    .token-new-general-info {
      .subtitle {
        min-width: 400px;
      }
    }
  }

  .info-tooltip-container {
    .info-tooltip {
      border-radius: 15px;
      min-width: 120px !important;
    }
  }
}

@media ((max-width: 900px)) {
  .token-details-container {
    .token-new-general-info {
      .subtitle {
        margin-right: -50%;
        min-width: 150px;
      }
    }
  }

  .footer-container {
    height: auto;
    flex-direction: column;
    padding: 40px 16px 72px 16px;

    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 20px;
    }

    .logo-version-container {
      margin-bottom: 20px;
    }

    .hide-version {
      display: none;
    }
  }

  nav {
    align-items: baseline;

    .mobile-sidebar-icon {
      cursor: pointer;
    }

    .hide-network-mobile {
      display: flex;
      margin: 20px 0 0 0;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      border: none;
    }

    .hide-logo-container-mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .hide-tabs {
      display: none;
    }

    .mobile-tabs {
      display: flex;
      gap: 32px;
      color: var(--bold-text-color);
      align-items: baseline;
      white-space: nowrap;

      .mobile-search-icon {
        cursor: pointer;
        transition: width 0.3s ease, padding 0.3s ease;
      }

      .mobile-search-input {
        transition: width 0.3s ease, padding 0.3s ease;
        color: var(--secondary-color);
        background-color: var(--input-background) !important;
        padding-left: 35px;
        background-size: 16px;
        border: 1px solid var(--border-color);
      }

      .mobile-search-input::placeholder {
        color: var(--normal-text-color);
        opacity: 1;
      }

      .mobile-search-input.expanded {
        width: 80%;
        padding: 5px;
      }
    }

    .newLogo-explorer-container {
      margin-right: 25px;
    }
  }

  .new-table {
    background-color: var(--background-color);
    width: 100%;

    & td {
      padding: 20px 0px 20px 0px;
      border-top: 1px solid var(--border-color);
    }

    & tbody td {
      width: 60%;
    }
  }

  .network-wrapper {
    margin: 16px;
  }

  .new-info-hover-popover {
    white-space: nowrap;
    margin-left: 8px;
  }

  .network-select-reload {
    flex-direction: column;
    align-items: center;
    gap: 16px;

    select {
      width: 100%;
    }

    button {
      margin-bottom: 32px;
    }
  }

  .network-card-body {
    span {
      flex: 1;
    }
  }

  .network-card-body-bottom {
    span {
      flex: 1;
    }
  }

  .network-data-top {
    & div {
      & span:nth-child(1) {
        color: #ba90ff;
      }
    }
  }

  .network-reload-btn {
    padding: 3px 14px 3px 14px;
  }

  .network-select-reload {
    .custom-select-container {
      min-width: 100%;
      .custom-select {
        min-width: 100%;
      }
    }
  }

  .statistics-content-wrapper {
    margin: 16px;
  }

  .real-time-info-container {
    flex-direction: column;
  }

  .dag-content-wrapper {
    margin: 16px;
  }

  .dag-content {
    flex-direction: column;
  }

  .dag-container-btn {
    width: 100%;
    justify-content: center;

    button {
      flex: 0;
    }
  }
}

.title-page {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--bold-text-color);
  font-size: 'Mona Sans', sans-serif;
}

.text-page {
  font-family: 'San Francisco Pro', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  color: var(--bold-text-color);
}

.data-title {
  padding-bottom: 60px;
}

.section-tables-stylized {
  margin: 60px 0;
  color: var(--normal-text-color);
  font-family: 'Mona Sans ', sans-serif;
  padding: 0px 64px;
}

.section-tables-stylized .title-page {
  color: var(--bold-text-color);
  font-family: 'Mona Sans Bold', sans-serif;
}

.tables-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.table-container {
  width: 45%;
}

.table-container p {
  font-family: 'Mona Sans Bold', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  margin-bottom: 24px;
  color: var(--bold-text-color);
}

.table-stylized {
  width: 100%;
  table-layout: fixed;
  font-family: 'San Francisco Pro';
  font-weight: 400;
  size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
}

.table-stylized thead {
  color: var(--purple-text);
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  font-family: 'Mona Sans', sans-serif;
  text-transform: uppercase;
}

.table-tokens th:nth-child(1) {
  width: 400px;
}

.table-home-button {
  font-family: 'Mona Sans', sans-serif;
  width: Hug (190px) px;
  height: Hug (44px) px;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 4px;
  background-color: $purpleHathorButton;
  border: none;
  color: white;
  margin-top: 32px;
}

.table-home-button:hover {
  background-color: $purpleHathorButtonHover;
}

.table-stylized tr {
  border-bottom: 1px solid var(--border-color);
}

.table-stylized td,
.table-stylized th {
  padding: 20px;
  font-family: 'San Francisco Pro', sans-serif;
}

.table-stylized td {
  color: var(--normal-text-color);
}

.table-stylized tbody tr td {
  text-align: left;
  color: var(--normal-text-color);
}

.table-stylized tbody tr:hover td {
  color: var(--text-focus);
  cursor: pointer;
  background-color: var(--background-focus);
  opacity: 1;
}

.table-stylized tbody tr:hover td.date-cell {
  color: var(--created-at-text);
}

.table-focus tbody tr td {
  background-color: var(--background-focus);
}

.ellipsi {
  background-color: rgba(89, 215, 60, 1);
  width: 4px !important;
  height: 4px !important;
  border-radius: 60%;
}

.ellipsis {
  display: flex;
  flex-direction: row;
  gap: 2px;
}

.id-cell {
  display: flex;
  flex-direction: row;
  gap: 2px;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: left;
}

.button-home-tables {
  padding: 4px 12px 4px 12px;
  border-radius: 4px;
  border: none;
  opacity: 0px;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  background-color: var(--background-color);
  color: var(--normal-text-color);
  border: 1px solid transparent;
}

.button-home-tables span {
  font-family: 'San Francisco Pro', sans-serif;
  font-weight: bold;
}

.button-home-tables.active {
  background-color: var(--background-focus);
  border: 2px solid var(--border-color);
  color: var(--text-focus);
}

.buttons-mobile-container {
  display: none;
  margin-bottom: 20px;
}

.table-tokens-symbol {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 4px 8px;
  border: 1px solid var(--border-color);
  border-radius: 100px;
  background: transparent;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--bold-text-color);
}

.date-cell {
  color: var(--created-at-text) !important;
}

.navbar-nav > li {
  padding: 0 !important;
  width: 104px;
  text-align: center;
}

.navbar-nav .dropdown {
  width: auto;
  padding: 0px !important;
  width: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.switch {
  width: 46px;
  height: 28px;
  padding: 0 2px;
  border-radius: 20px;
  background-color: $purpleHathor;
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  animation: 400ms;
  cursor: pointer;
}

.switch-circle {
  position: absolute;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  background-color: white;
  transition: transform 0.2s;
}

.switch.active .switch-circle {
  transform: translateX(18px);
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  word-wrap: break-word;

  // Keeping the same font family from Bootstrap 4
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
    'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Noto Color Emoji';
}

body {
  padding: 40px 0px;
}

a {
  color: $purpleHathor;
  text-decoration: none; // Keeping style from Bootstrap 4
}

a:hover {
  color: $purpleHathorHover;
}

.content-wrapper {
  margin: 2rem auto;
  max-width: 988px;
  -webkit-margin-bottom-collapse: separate;
}

.d-flex-1 {
  flex-grow: 1;
}

.d-flex-2 {
  flex-grow: 2;
}

.d-flex-3 {
  flex-grow: 3;
}

.main-nav {
  background-color: #000;
}

.main-nav nav {
  max-width: 988px;
  margin: 0 auto;
  padding: 0.5rem 0;
}

.main-nav > nav a {
  color: rgba(255, 255, 255, 0.6);
}

.main-nav > nav a.active {
  color: rgba(255, 255, 255, 0.9);
}

.nav-tabs a,
.nav-tabs a:hover {
  color: $purpleHathor;
}

.nav-link {
  font-family: 'Mona Sans', sans-serif;
}

.dropdown-menu {
  background-color: var(--nav-dropdown);
  font-size: 16px;
  text-align: center;
  font-family: 'Mona Sans', sans-serif;
  padding: 0px !important;
  white-space: nowrap;
  margin-left: -50px !important;
  padding: 12px 0 !important;
}

.dropdown-menu li {
  padding: 0 !important;
}

.dropdown-menu a.nav-link {
  color: var(--bold-text-color) !important;
  text-align: left;

  &:hover {
    background-color: var(--background-focus);
  }
}

#navbarDropdown {
  cursor: pointer;
}

.version-wrapper {
  padding-left: 1rem;
}

.version-wrapper span {
  color: var(--bold-text-color) !important;
  font-size: 11px;
}

.dropdetails-margin {
  margin: 20px 0;
}

.tab-content-wrapper {
  padding: 2rem;
}

.disable-button {
  background-color: var(--secondary-color);
  border-radius: 2px;
  color: var(--timestamp-text);
}

.disable-button.page-link {
  color: var(--timestamp-text) !important;
  order: 1px solid var(--border-disable-button) !important;
}

.pagination {
  padding-top: 2rem;
}

.previus-button {
  background-color: red;
}

.page-link {
  width: 105px !important;
  padding: 12px 20px 12px 20px;
  gap: 8px;
  border-radius: 4px;
  opacity: 0px;
  background-color: transparent !important;
  color: var(--red) !important;
  border-color: var(--border-color) !important;
}

.page-item.active .page-link {
  background-color: $purpleHathor !important;
  border-color: $purpleHathor;
  color: white !important;
}

.page-link:hover {
  color: $purpleHathorHover;
}

#tx-table tbody tr {
  cursor: pointer;
}

#peer-table tbody td,
#peer-table thead th,
#tx-table tbody td,
#tx-table thead th {
  text-align: center;
}

.tx-data-wrapper label {
  font-weight: bold;
}

.feature-column-descriptions label {
  font-weight: bold;
}

div.new-address-wrapper,
button.send-tokens {
  margin-bottom: 1rem;
  margin-right: 1rem;
}

button.new-address {
  margin-right: 1rem;
}

div.new-address-wrapper span {
  margin-right: 1rem;
}

div.new-address-wrapper canvas {
  cursor: pointer;
}

#formSendTokens .outputs-wrapper input,
#formSendTokens .inputs-wrapper input,
#formSendTokens .wrapper input {
  margin-right: 1rem;
}

#formSendTokens .checkbox-wrapper {
  margin-bottom: 1rem;
}

.tx-input-wrapper textarea {
  margin: 1rem 0;
}

.tx-input-wrapper button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 160px;
}

.main-nav > nav .navbar-brand > img {
  height: 28px;
  width: auto;
}

#qrCodeModal .download-qrcode {
  margin-top: 1rem;
}

i.pointer {
  cursor: pointer;
}

.hathor-alert {
  position: fixed !important;
  right: 1rem;
  bottom: 1rem;
}

.navigation-search i {
  color: #fff;
}

.navigation-search input {
  border: none;
}

.navigation-search-token {
  max-width: 600px;
  padding-left: 0px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.search-input {
  width: 400px;
}

.page-loader {
  padding-top: 2rem;
}

.sidebar-background-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.navigation-search-token i {
  color: #000;
}

tr.tr-title {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: default !important;
}

// Class to keep the same visual aspect from Bootstrap 4
.table {
  thead {
    tr {
      border-top: 1px solid #dee2e6;
    }

    th {
      border-bottom: 2px solid #dee2e6;
    }
  }

  tbody {
    tr.tr-title td {
      background-color: rgb(242, 242, 242);
      cursor: default !important;
    }

    td {
      padding: 12px;
    }
  }
}

tr.tr-title td {
  font-weight: bold;
}

svg.svg-wrapper {
  width: 100%;
  height: 250px;
}

.svg-wrapper line {
  stroke: #ddd;
  shape-rendering: crispEdges;
}

.svg-wrapper circle {
  fill-opacity: 0.5;
}

.svg-wrapper rect {
  fill-opacity: 0.5;
}

.dag-visualizer input {
  width: 60px;
}

.dag-visualizer btn {
  width: 70px;
}

@media (max-width: 992px) {
  .content-wrapper {
    margin: 2rem;
  }

  .navbar-nav li.nav-item {
    padding: 0rem 1rem;
    font-family: 'Mona Sans', sans-serif;
  }

  .navbar-right {
    padding: 0.5rem 1rem;
  }

  .new-table {
    background-color: var(--background-color);
    width: 100%;

    & td {
      padding: 20px 0px 20px 0px;
      border-top: 1px solid var(--border-color);
    }

    & tbody td {
      width: 60%;
    }
  }

  .token-details-container {
    padding: 16px;
  }
}

.line {
  fill: none;
  stroke-width: 2px;
}

.grid line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.grid path {
  stroke-width: 0;
}

.hathor-alert {
  display: none;
}

.hathor-alert.show {
  display: block !important;
}

#graph {
  border: 1px solid;
}

#graph .tx,
#graph .block {
  stroke: #000;
  stroke-width: 1.5px;
}

#graph .link {
  stroke: #666;
  stroke-width: 0.2px;
}

#graph .tx .tx-text,
#graph .block .block-text {
  stroke-width: 0px;
  font-size: 4px;
}

.arrow-td-mobile {
  display: none !important;
}

.tooltip {
  position: absolute;
  background-color: white;
  max-width: 200px;
  height: auto;
  padding: 1px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
}

#graph {
  margin-top: 24px;
}

.dagWrapper {
  width: 100%;
}

.btn-hathor {
  background-color: $purpleHathor;
  border-color: $purpleHathor;
  color: white;
}

.btn-hathor:hover,
.btn-hathor:active,
.btn-hathor:visited,
.btn-hathor:not(:disabled):not(.disabled):active {
  border-color: $purpleHathorHover;
  color: white;
}

.bordered-wrapper {
  flex-basis: 100%;
}

.bordered-wrapper > div {
  width: 100%;
  border: 2px solid #eee;
  border-bottom: 0px;
}

.bordered-wrapper > div:first-child {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}

.bordered-wrapper > div:last-child {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-bottom: 2px solid #eee;
}

.common-div > div {
  padding: 0.8rem;
}

.important-div > div {
  text-align: center;
  font-size: 1.3rem;
  padding: 1rem;
}

.config-string-wrapper,
.token-nft-preview,
.token-general-info {
  border-radius: 10px;
  border: 1px solid #eee;
  width: 320px;

  & > p {
    border-bottom: 1px solid #eee;
    margin: 0;
    padding: 1rem;

    &:first-child {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    &:last-child {
      border-bottom: 0;
    }
  }
}

.config-string-wrapper span {
  text-align: left;
}

.token-name {
  font-size: 1.5rem;
}

.token-wrapper i {
  font-size: 1.2rem;
  color: rgba(0, 0, 0, 0.5);
}

.token-general-info {
  margin: 0;
  word-break: break-all;

  & > p:first-child {
    background-color: #f9f9f9;
  }
}

.token-nft-preview {
  & figure {
    margin: 0;
  }

  & video,
  & img {
    border-radius: 5px;
    max-width: 100%;
    max-height: 300px;
    object-fit: contain;
  }
}

p,
span {
  &.subtitle {
    opacity: 0.7;
    font-size: 0.85rem;
  }
}

.text-warning a {
  color: $warning !important;
}

.search-div {
  margin-bottom: 3rem;
  margin-top: 3rem;
  padding-left: 0;
}

#graph-funds svg,
#graph-verification svg {
  width: 100%;
}

.navbar-dark .navbar-toggler {
  border: 0;
}

.dropdown-menu a.nav-link {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.address-history .spent-tx,
.address-history .voided {
  text-decoration: line-through;
}

.address-history .input-tr .state,
.address-history .input-tr .value,
.sent-value {
  color: #dc3545;
}

.address-history .output-tr .state,
.address-history .output-tr .value,
.received-value {
  color: #28a745;
}

.address-history .state.voided,
.address-history .value .voided {
  color: #6c757d !important;
}

.address-history .value {
  text-align: right;
  font-family: monospace;
  font-size: 1.2rem;
}

.address-history .voided-element {
  text-decoration: none;
  background-color: #6c757d;
  font-size: 0.75rem;
  width: 1.5rem;
  height: 0.75rem;
  padding: 0.4rem;
  border-radius: 0.75rem;
  color: white;
  margin-left: 1rem;
}

.color-hathor {
  color: $purpleHathor;
}

.refresh-alert a {
  color: #856404;
  text-decoration: underline;
}

.loading-wrapper {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & span {
    padding: 5px;
  }
}

.spinner-container {
  width: 100%;
  height: 100%;
  margin: 40px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info-hover-wrapper {
  color: inherit;
  position: relative;

  & > i {
    position: static;
  }

  &:hover {
    color: inherit;

    .info-hover-popover {
      display: block;
    }
  }
}

.info-hover-popover {
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  display: none;
  left: 0;
  margin-left: -50%;
  max-width: 300px;
  min-width: 200px;
  opacity: 1 !important;
  padding: 10px;
  position: absolute;
  white-space: normal;
  word-break: keep-all;
  top: 25px;
  z-index: 1;
}

.navigation-autocomplete-token {
  width: 100%;
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 16px;
  position: relative;
  display: inline-block;
}

.autocomplete-results {
  position: absolute;
  border: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;

  padding-left: 15px;
  margin-right: 38px;

  background: var(--input-background);
  width: 100%;
  max-height: 400px;
  overflow-y: scroll;
}

.autocomplete-result-item {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.autocomplete-result-item {
  border-bottom: 1px solid #e7e7e7;
}

.autocomplete-result-item:last-child {
  border-bottom: none;
}

.autocomplete-result-item:hover {
  background: var(--input-background);
  color: var(--bold-text-color);
  cursor: pointer;
}

.autocomplete-selected-item {
  display: inline-block;
  background-color: var(--input-background);
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  border: none;
  color: var(--normal-text-color);

  .close-icon {
    padding: 0;
    margin: 0;
    margin-left: 12px;
  }
}

.hidden {
  display: none;
}

.token-balances-information-wrapper {
  gap: 24px;
  background-color: var(--secondary-color);
  display: flex;
  flex-flow: column;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  margin-bottom: 24px;

  padding: 24px 24px 28px 24px;

  h1 {
    font-family: 'Mona Sans Bold', sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 0;
    margin: 0;
    text-align: left;
    color: var(--purple-text);
  }

  p {
    font-family: 'Mona Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-align: left;
  }
}

.total-b-balances {
  font-family: 'Mona Sans';
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bold-text-color);
  text-transform: uppercase;
  width: 196px;
}

.container-total-balances {
  margin: 0;
  padding: 0;
  max-width: 260px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.link-more-details {
  color: var(--bold-text-color);
  font-family: 'San Francisco Pro', sans-serif;

  padding: 8px 12px !important;
  gap: 8px;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  opacity: 0px;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}

th.sortable {
  cursor: pointer;
}

.timeseries-iframe {
  display: flex;
  height: 2300px;
  width: 100%;
  border: none;
}

.statistics-title {
  padding-top: 15px;
  padding-bottom: 20px;
}

.screen-status {
  padding-bottom: 20px;
}

.table-method-arguments tbody tr {
  background-color: transparent !important;
}

.source-code code {
  background-color: #f2f2f2;
}

.source-code pre {
  height: 100%;
}

.source-code {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  height: 0;
  opacity: 0;
}

.source-code.show {
  height: auto !important;
  opacity: 1 !important;
}

.type-span {
  color: var(--bold-text-color);
  padding: 4px 12px;
  border-radius: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: fit-content;
  gap: 6px;
  opacity: 0px;
  font-family: 'San Francisco Pro', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.features-page-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--secondary-color);
  margin: 16px 0;
}

.span-red-tag {
  background-color: var(--span-red-background);
  border: 1px solid var(--span-red-border);
}

.span-green-tag {
  background-color: var(--span-green-background);
  border: 1px solid var(--span-green-border);
}

.table-address {
  table-layout: inherit;
}

.summary-main-info {
  margin-top: 24px;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  font-size: 14px;
  border-radius: 8px;
}

.alter-background {
  background-color: var(--alter-background-color);
  border: 1px solid var(--alter-border-color);
}
.summary-main-info-container {
  display: flex;
  flex-direction: row;
  width: 480px;
  align-items: center;
}

.select-token-address {
  border: 1px solid var(--alter-border-color);
  background-color: var(--alter-background-color);
  color: var(--normal-text-color);
  border-radius: 8px;
  padding: 8px 9px;
}

.select-token-address:focus {
  background-color: var(--background-color);
}

.custom-select-container {
  position: relative;
}

.custom-select {
  width: 180px;

  border: 1px solid var(--alter-border-color);
  background-color: var(--dropdown-b);
  color: var(--normal-text-color);
  border-radius: 8px;
  padding: 8px 9px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.custom-select-options {
  position: absolute;
  background-color: var(--input-background);
  width: 100%;
  border-radius: 8px;
}

.custom-select-options ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin: 12px 0;
}

.custom-select-options ul li {
  padding: 6px 0;
  font-family: 'Mona Sans', sans-serif;
  color: var(--bold-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: center;
}

.drop-arrow-color {
  color: var(--bold-text-color);
  cursor: pointer;
}

.custom-select-options ul li:hover {
  background-color: var(--secondary-color);
}

.address-container-title {
  width: 100%;
  max-width: 120px;
  margin-right: 16px;
  color: var(--bold-text-color);
  font-size: 'Mona Sans', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.tr-features-details {
  width: 100%;
  border: none !important;
}

.summary-balance-info-container {
  word-break: break-word;
}

.token-option {
  background-color: var(--input-background);
}

.summary-container-title-purple {
  color: var(--purple-text);
}

.tx-id-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
  gap: 16px;
}

.tx-title-purple {
  color: var(--purple-text);
  font-family: 'Mona Sans';
  text-transform: uppercase;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  white-space: nowrap;
}

.tx-id-top {
  font-family: 'San Francisco Pro', sans-serif;
  white-space: wrap;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  word-break: break-word;
  text-align: left;
}

.summary-balance-info {
  display: flex;
  flex-direction: column;
  gap: 24px;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 24px;
  margin: 16px 0;
}

.summary-balance-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media ((max-width: 1100px)) {
  nav {
    align-items: baseline;

    .mobile-sidebar-icon {
      cursor: pointer;
    }

    .hide-network-mobile {
      display: flex;
      margin: 20px 0 0 0;
      gap: 10px;
      justify-content: space-between;
      align-items: center;
      background-color: transparent;
      border: none;
    }

    .hide-logo-container-mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .hide-tabs {
      display: none;
    }

    .mobile-tabs {
      display: flex;
      gap: 32px;
      color: var(--bold-text-color);
      align-items: baseline;
      white-space: nowrap;

      .mobile-search-icon {
        cursor: pointer;
        transition: width 0.3s ease, padding 0.3s ease;
      }

      .mobile-search-input {
        transition: width 0.3s ease, padding 0.3s ease;
        color: var(--secondary-color);
        background-color: var(--input-background) !important;
        padding-left: 35px;
        background-size: 16px;
      }

      .mobile-search-input::placeholder {
        color: var(--normal-text-color);
        opacity: 1;
      }

      .mobile-search-input.expanded {
        width: 80%;
        padding: 5px;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .footer-container {
    height: auto;
    flex-direction: column;
    padding: 40px 16px 72px 16px;

    .info-container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 8px;
      margin-bottom: 20px;
    }

    .logo-version-container {
      margin-bottom: 20px;
    }

    .hide-version {
      display: none;
    }
  }
}

@media screen and (max-width: 850px) {
  .tables-container {
    flex-flow: column nowrap;
  }

  .autocomplete-selected-item {
    width: 100%;
  }

  .td-mobile {
    display: none;
  }

  .arrow-td-mobile {
    display: table-cell !important;
  }

  .th-table-token-mobile {
    display: none;
  }

  .table-container {
    width: 100%;
    margin: 0 auto;
  }

  body {
    padding: 32px 0;
  }

  .container-title-page {
    padding: 0;
    margin: 0;
  }

  .buttons-mobile-container {
    display: flex;
    gap: 4px;
  }

  .table-stylized tbody tr td {
    width: 50%;
  }

  .navbar-nav li.nav-item {
    padding: 0 !important;
  }

  nav {
    padding: 0 22px;
  }

  .section-tables-stylized {
    padding: 0 16px;
  }

  .dropdown-menu {
    margin: 0px !important;
  }

  .table-tokens th:nth-child(1) {
    width: auto;
  }

  .token-balances-information-wrapper {
    margin-bottom: 48px;
  }

  .tx-container {
    padding: 0px 25px;
  }

  .token-list-search-input {
    height: 4em;
  }

  .input-padding {
    height: fit-content;
  }

  .address-div {
    width: 35%;
    text-align: left;
  }

  .address-div > p {
    text-align: center;
    margin: 0;
    width: 70%;
  }

  .tx-drop-container-div {
    flex-direction: column;
  }

  .alert-success-container {
    margin: 16px auto;
  }

  .new-snack-bar {
    width: 70%;
  }

  .navbar-nav li {
    text-align: left;
  }

  .navbar-nav .dropdown {
    justify-content: flex-start;
  }

  .tools-button-container span {
    font-size: 12px;
  }

  .pushtx-helptext {
    flex-direction: column;
    align-items: flex-start;
  }

  .table-features {
    table-layout: inherit;
  }

  .table-features td {
    word-break: break-all;
  }
}
