name: deploy

on:
  push:
    branches: [release]
    tags: ['v*']

permissions:
  id-token: write
  contents: read

jobs:
  dependencies:
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683

      - name: Set up Node.js 22.x
        # https://github.com/actions/setup-node/releases/tag/v4.4.0
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020
        with:
          node-version: 22.x

      - name: Cache node modules
        # https://github.com/actions/cache/releases/tag/v4.2.2
        uses: actions/cache@d4323d4df104b026a6aa633fdb11d772146be0bf
        env:
          cache-name: cache-node-modules
        with:
          # npm cache files are stored in `~/.npm` on Linux/macOS
          path: /home/runner/work/hathor-explorer/hathor-explorer/node_modules
          key: ${{ runner.os }}-build-${{ env.cache-name }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-build-${{ env.cache-name }}-
            ${{ runner.os }}-build-
            ${{ runner.os }}-

      - name: Install Dependencies
        run: |
          npm install
          tar -cvf node_modules.tar ./node_modules

      - name: Upload node modules
        # https://github.com/actions/upload-artifact/releases/tag/v4.6.2
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02
        with:
          name: node_modules
          path: node_modules.tar
          if-no-files-found: error
          retention-days: 1

  deploy-testnet-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: testnet
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/ExplorerGitHubActionsRoleTestnet

  deploy-testnet-hotel-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: testnet-hotel
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/ExplorerGitHubActionsRoleTestnetHotel

  deploy-testnet-india-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: testnet-india
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/ExplorerGitHubActionsRoleTestnetIndia

  deploy-testnet-playground-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: testnet-playground
          aws-region: us-east-1
          aws-role: arn:aws:iam::438696047887:role/ExplorerGitHubActionsRoleTestnetPlayground

  deploy-nano-testnet-explorer:
    # We've changed this to a special branch, effectively to disable automatated deploys to
    # nano-testnet alpha, but still leaving the deploy job in place in case needed, deploying
    # from a different branch. 
    if: github.ref == 'refs/heads/release-nano-alpha'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: nano-testnet
          aws-region: eu-central-1
          aws-role: arn:aws:iam::471112952246:role/ExplorerGitHubActionsRole

  deploy-nano-testnet-bravo-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: nano-testnet-bravo
          aws-region: eu-central-1
          aws-role: arn:aws:iam::471112952246:role/ExplorerGitHubActionsRoleBravo

  deploy-nano-testnet-hackaton-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: nano-testnet-hackaton
          aws-region: eu-central-1
          aws-role: arn:aws:iam::644483925420:role/ExplorerGitHubActionsRole

  deploy-ekvilibro-testnet-explorer:
    if: github.ref == 'refs/heads/release'
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: ekvilibro-testnet
          aws-region: eu-central-1
          aws-role: arn:aws:iam::730335348496:role/ExplorerGitHubActionsRoleEkvilibroTestnet

  deploy-ekvilibro-mainnet-explorer:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: ekvilibro-mainnet
          aws-region: eu-central-1
          aws-role: arn:aws:iam::730335348496:role/ExplorerGitHubActionsRoleEkvilibroMainnet

  deploy-mainnet-explorer:
    if: startsWith(github.ref, 'refs/tags/v')
    needs: dependencies
    runs-on: ubuntu-latest
    steps:
      # https://github.com/actions/checkout/releases/tag/v4.2.2
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - uses: ./.github/actions/deploy-explorer
        with:
          site: mainnet
          aws-region: us-east-1
          aws-role: arn:aws:iam::769498303037:role/ExplorerGitHubActionsRoleMainnet
